/** HOME PAGE CSS! **/

/* HEADER */

nav#main {
  color: White;
}

nav#main.mobile-open {
  color: Black;
}

@media only screen and (min-width: 1100px) {

  nav#main ul#top > li > a {
    color: White;
  }

  nav#main ul#top > li > a:hover {
    border-color: White;
  }
}

/* TOP BANNER */
div.top-banner {
  height: 70vh;
  background-color: Purple;
}
div.top-banner div.banner-content {
  color: White;
}
div.top-banner h2 {
  font-size: 1.2rem;
}