/** HOME PAGE CSS! **/

/* HEADER */

nav#main {
  color: White;
}

nav div#nav-logo a {
  color: White;
}

nav#main.mobile-open div#nav-logo a {
  color: Black;
}

@media only screen and (min-width: 1100px) {

  nav#main ul#top > li > a {
    color: White;
  }

  nav#main ul#top > li > a:hover {
    border-color: White;
  }
  nav#main ul#top > li.active-header > a {
    border-bottom: 2px solid White;
  }
}

/* TOP BANNER */
div.top-banner {
  height: 70vh;
  background-color: Black;
}
div.top-banner div.banner-content {
  color: White;
}

/* HERO VIDEO */

video.video-banner {
    height: 70vh;
    min-height: 450px;
    /* matches min-height of div.top-banner */
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
}

/* WHAT PEOPLE ARE SAYING, SLIDER */

div.slider-wrap {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
}

div.slider-arrow {
    position: absolute;
    margin-top: 17vh;
    z-index: 100;
    background-color: white;
    opacity: 0.8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

div.slider-arrow.left {
    left: 14%;
}

div.slider-arrow.right {
    right: 14%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

div.slide {
    width: 20vw;
    min-width: 300px;
    height: 21vw;
    min-height: 325px;
    display: inline-block;
    padding: 10%;
    box-sizing: border-box;
    background-color: var(--cream);
    position: relative;
}

div.slide:nth-child(2n) {
    background-color: var(--orange);
}

div.slide:nth-child(3n) {
    background-color: var(--green);
}

div.slide:nth-child(4n) {
    background-color: var(--purple);
}

div.slide.quote h4 {
    font-size: 2rem;
}

div.slide.quote div.author, div.slide.audio div.label {
    position: absolute;
    bottom: 10%;
    width: 80%;
}

div.slide.quote div.author p {
    font-family: var(--courier);
    color: Black;
    font-size: 1rem;
    margin-bottom: 0;
}

div.slide.audio div.label p {
    font-family: var(--courier);
    color: Black;
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 0;
    text-align: center;
}

div.slide.audio div.play {
    position: absolute;
    z-index: 1;
    width: 80%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20%;
    cursor: pointer;
}


/* LATEST ACTION SECTION */

div.latest-action p {
  max-width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}


@media only screen and (max-width: 800px) {
  div.latest-action p {
    max-width: 90%;
  }
}