/** HOME PAGE CSS! **/

/* HEADER */

nav#main {
  color: White;
}

nav div#nav-logo a {
  color: White;
}

nav#main.mobile-open div#nav-logo a {
  color: Black;
}

nav ul#top li.login-button {
  background-color: White;
  color: Black;
}

@media only screen and (min-width: 1100px) {
  
  nav#main ul#top > li > a {
    color: White;
  }

  nav#main ul#top > li > a:hover {
    border-color: White;
  }
  nav#main ul#top > li.active-header > a {
    border-bottom: 2px solid White;
  }
}

/* TOP BANNER */
div.top-banner {
  height: 70vh;
  background-color: Purple;
}
div.top-banner div.banner-content {
  color: White;
}
div.top-banner h2 {
  font-size: 1.2rem;
}

/* LATEST ACTION SECTION */

div.latest-action p {
  max-width: 80%; 
  margin: auto; 
  margin-bottom: 2rem;
}

div.latest-action div.video-container {
  width: 65%;
  margin: auto;
  height: 450px;
  background-color: #444;
}

@media only screen and (max-width: 800px) {
  div.latest-action p {
    max-width: 90%;
  }
  div.latest-action div.video-container {
    width: 100%;
  }
}