---
layout: layouts/base.njk
templateClass: tmpl-home
---

<style>

  div.info-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 50px;
      text-align: center;
      margin-top: 50px;
  }

  div.info-circle {
      background-color: #888;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
      margin-bottom: 20px;
  }

  div.info-circle img {
      max-width: 100%;
  }

  div.bio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  div.bio {
    display: grid;
    grid-template-columns: 25% auto;
    grid-column-gap: 30px;
    margin-bottom: 30px;
  }
  div.bio div img {
      max-width: 100%;
  }

  @media only screen and (max-width: 800px) {
    div.info-grid {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    div.content:nth-of-type(1) {
      margin-top: 100px;
    }
    div.bio-container {
      grid-template-columns: 1fr;
    }
    div.bio {
      border-top: 2px solid #D9D9D9;
      padding-top: 30px;
    }
    div.bio:last-child {
      /*border-bottom: 2px solid #D9D9D9;
      padding-bottom: 30px;*/
    }
  }
</style>

{# page template, extends the base template #}

<div class="content">
  <h1 style="text-align: center; margin-top: 6%;">
    {{ bannerTitle }}
  </h1>
  <div class="center-stage">
    <img src="{{ aboutImage }}" alt="{{ alt }}" style="width: 100%;">
  </div>
  <div class="half-wide">
    <h3 class="center-title">
      Created with and led by tenants who have been there.
    </h3>
    <p class="grey">
      Everyone deserves to be treated fairly in their search for a home. At Unlock NYC, we equip voucher holders with the paper trail, voice, and connections to create accountability when they’re facing housing discrimination. Through our direct services, data analysis, and advocacy, we’re creating a power shift where landlords and brokers fear the social and financial costs of discriminating against voucher holders.
    </p>
    <div class="info-grid">
      <div>
        <div class="info-circle">
          <img src="https://public-unlock.nyc3.digitaloceanspaces.com/about-individual-justice-icon.png" alt="a graphic of two people icons with arrows pointing to the scales of justice, purple">
        </div>
        <h4>
          Individual justice
        </h4>
      </div>
      <div>
        <div class="info-circle">
          <img src="https://public-unlock.nyc3.digitaloceanspaces.com/about-systems-change-icon.png" alt="a graphic of three person icons with a chat bubble filled with a megaphone coming from one person, purple">
        </div>
        <h4>
          Systems change
        </h4>
      </div>
      <div>
        <div class="info-circle">
          <img src="https://public-unlock.nyc3.digitaloceanspaces.com/about-leadership-development-icon.png" alt="a chat bubble with lines representing text inside, with circling feedback arrows surrounding the graphic, purple">
        </div>
        <h4>
          Leadership development
        </h4>
      </div>
    </div>
  </div>
  <div class="half-wide">
    <h3>
      Our Team
    </h3>
    <p>
      Unlock NYC’s team is at our strongest when we reflect the diversity of our city. We built a unique team culture, governance model, and leadership development program to enable a wide range of skills, experiences, and contributions to our movement.
    </p>
    <!-- MAB: re-use as component!-->
  </div>
  <div class="three-stats bg-yellow">
      {% for stat in statistics %}
      <div class="stat">
        <h1>
          {{ stat.statNum }}
        </h1>
        <p class="black">
          {{ stat.statText }}
        </p>
      </div>
      {% endfor %}
    </div>
    <h4>
      Staff
    </h4>
    <div class="bio-container">
      {%- for post in collections.Staff -%}
      {% if post.data.bioLink %}
      <a href="{{ post.data.bioLink }}" style="text-decoration: none;" target="_blank">
      {% endif %}
        <div class="bio" style="order: {%- if post.data.order -%}{{ post.data.order }}{%- else -%} 50{%- endif -%}">
            <div class="bg-purple" style="border-radius: 50%; width: 100px; height: 100px; display: block; text-align: center; overflow: hidden;">
            <img src="{{ post.data.image }}" alt="headshot of {{ post.data.name }}">
            </div>
            <div style="padding-top: 15px;">
            <h4>
                {{ post.data.name }}
            </h4>
            <p style="margin-top: -10px;">
                {{ post.data.title }}
            </p>
            </div>
        </div>
      {% if post.data.bioLink %}
      </a>
      {% endif %}
      {%- endfor -%}
    </div>
    <h4>
      Team
    </h4>
    <div class="bio-container">
        {%- for post in collections.Team -%}
        {% if post.data.bioLink %}
        <a href="{{ post.data.bioLink }}" style="text-decoration: none;" target="_blank">
        {% endif %}
        <div class="bio" style="order: {%- if post.data.order -%}{{ post.data.order }}{%- else -%} 50{%- endif -%}">
            <div class="bg-purple" style="border-radius: 50%; width: 100px; height: 100px; display: block; text-align: center">
                <img src="{{ post.data.image }}" alt="headshot of {{ post.data.name }}">
            </div>
            <div style="padding-top: 15px;">
                <h4>
                {{ post.data.name }}
                </h4>
                <p style="margin-top: -10px;">
                {{ post.data.title }}
                </p>
            </div>
        </div>
        {% if post.data.bioLink %}
        </a>
        {% endif %}
        {%- endfor -%}
    </div>
    <h4>
      Leadership Collective
    </h4>
    <p>
      Members of the Unlock NYC Leadership Collective are nominated each fall for a 6-month advisory board term followed by an optional capstone project. As engaged users of our tools and emerging leaders in their communities, the Leadership Collective meets monthly to help our programs team shape the direction of our organization and make key decisions.
    </p>
    <div class="bio-container">
        {%- for post in collections.LC -%}
        {% if post.data.bioLink %}
        <a href="{{ post.data.bioLink }}" style="text-decoration: none;" target="_blank">
        {% endif %}
        <div class="bio" style="order: {%- if post.data.order -%}{{ post.data.order }}{%- else -%} 50{%- endif -%}">
            <div class="bg-purple" style="border-radius: 50%; width: 100px; height: 100px; display: block; text-align: center">
                <img src="{{ post.data.image }}" alt="headshot of {{ post.data.name }}">
            </div>
            <div style="padding-top: 15px;">
                <h4>
                {{ post.data.name }}
                </h4>
                <p style="margin-top: -10px;">
                {{ post.data.title }}
                </p>
            </div>
        </div>
        {% if post.data.bioLink %}
        </a>
        {% endif %}
        {%- endfor -%}
    </div>
    <h4>
      Advisors
    </h4>
    <div class="bio-container">
        {%- for post in collections.Advisors -%}
        <div class="bio" style="order: {%- if post.data.order -%}{{ post.data.order }}{%- else -%} 50{%- endif -%}">
            <div class="bg-purple" style="border-radius: 50%; width: 100px; height: 100px; display: block; text-align: center">
                <img src="{{ post.data.image }}" alt="headshot of {{ post.data.name }}">
            </div>
            <div style="padding-top: 15px;">
                <h4>
                {{ post.data.name }}
                </h4>
                <p style="margin-top: -10px;">
                {{ post.data.title }}
                </p>
            </div>
        </div>
        {%- endfor -%}
    </div>
    <h4>
      Special thanks
    </h4>
    <p style="max-width: 80%; margin-top: 2rem; margin-bottom: 2rem;">
      As a group of lifelong learners, we’re grateful for the community of collaborators who have built up our team’s capacity to design a sustainable organization and workplace where we can thrive creatively, personally, and professionally.
    </p>
    <div class="funder-grid">
        {% for org in thanksList %}
        <a href="{{ org.link }}" target="_blank">
            <div class="bg-cream">
                <img src="{{ org.logo }}" alt="logo for {{ org.name }}">
            </div>
        </a>
        {% endfor %}
    </div>
    <h4>
      Funding Partners
    </h4>
    <p>
      For more information about our supporters, head to our <a href="/funding-partners">Funders page</a>.
    </p>
  </div>