---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# page template, extends the base template #}

<div class="content">
  <h1 style="text-align: center; margin-top: 6%;">
    {{ bannerTitle }}
  </h1>
  <div style="background-color: #444; width: 70%; margin: auto; height: 400px; margin-top: 50px;">
    placeholder
  </div>
  <div class="half-wide">
    <h3 class="center-title">
      Created with and led by tenants who have been there.
    </h3>
    <p class="grey">
      Everyone deserves to be treated fairly in their search for a home. At Unlock NYC, we equip voucher holders with the paper trail, voice, and connections to create accountability when they’re facing housing discrimination. Through our direct services, data analysis, and advocacy, we’re creating a power shift where landlords and brokers fear the social and financial costs of discriminating against voucher holders.
    </p>
    <div style="display: grid; grid-template-columns: 33"
  </div>
<div class="content">
  {% include 'layouts/blocks50.njk' %}  
</div>
<div class="banner-full bg-cream">
  <div class="half-wide">
    <h4>
      How We Design
    </h4>
    <p>
      {{ howDesignText }}
    </p>
    <div style="height: 600px; background-color: #444; width: 100%; margin-top: 3rem;">
      image placeholder
    </div>
  </div>
</div>
<div class="banner-full bg-orange">
  <h3>
    Stay in the loop
  </h3>
  <p>
    text text text here
  </p>
  <button class="black">
    Sign Up
  </button>
</div>