---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# page template, extends the base template #}

<div class="content">
  <h1 style="text-align: center; margin-top: 6%;">
    {{ bannerTitle }}
  </h1>
  <div style="background-color: #444; width: 70%; margin: auto; height: 400px; margin-top: 50px;">
    placeholder
  </div>
  <div class="half-wide">
    <h3 class="center-title">
      Created with and led by tenants who have been there.
    </h3>
    <p class="grey">
      Everyone deserves to be treated fairly in their search for a home. At Unlock NYC, we equip voucher holders with the paper trail, voice, and connections to create accountability when they’re facing housing discrimination. Through our direct services, data analysis, and advocacy, we’re creating a power shift where landlords and brokers fear the social and financial costs of discriminating against voucher holders.
    </p>
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-column-gap: 50px; text-align: center; margin-top: 50px;">
      <div>
        <div style="background-color: #888; border-radius: 50%; width: 100px; height: 100px; display: block; margin: auto; margin-bottom: 20px;">
          img
        </div>
        <h4>
          Individual justice
        </h4>
      </div>
      <div>
        <div style="background-color: #888; border-radius: 50%; width: 100px; height: 100px; display: block; margin: auto; margin-bottom: 20px;">
          img
        </div>
        <h4>
          Systems change
        </h4>
      </div>
      <div>
        <div style="background-color: #888; border-radius: 50%; width: 100px; height: 100px; display: block; margin: auto; margin-bottom: 20px;">
          img
        </div>
        <h4>
          Leadership development
        </h4>
      </div>
    </div>
  </div>
<div class="content">
  <div class="half-wide">
    <h3>
      Our Team
    </h3>
    <p>
      Unlock NYC’s team is at our strongest when we reflect the diversity of our city. We built a unique team culture, governance model, and leadership development program to enable a wide range of skills, experiences, and contributions to our movement.
    </p>
    <!-- MAB: re-use as component!-->
  </div>
  <div class="bg-yellow" style="display: grid; padding: 30px; grid-template-columns: 1fr 1fr 1fr; text-align: center; margin-top: 60px;">
      <div style="border-right: 1px solid Black; padding: 20px;">
        <h1>
          50+
        </h1>
        <p class="black">
          Years navigating the housing voucher system
        </p>
      </div>
      <div style="border-right: 1px solid Black; padding: 20px;">
        <h1>
          70%
        </h1>
        <p class="black">
          of our team identify as women of color
        </p>
      </div>
      <div style="padding: 20px;">
        <h1>
          5
        </h1>
        <p class="black">
          NYC boroughs represented
        </p>
      </div>
    </div>
</div>
<div class="banner-full bg-cream">
  <div class="half-wide">
    <h4>
      How We Design
    </h4>
    <p>
      {{ howDesignText }}
    </p>
    <div style="height: 600px; background-color: #444; width: 100%; margin-top: 3rem;">
      image placeholder
    </div>
  </div>
</div>
<div class="banner-full bg-orange">
  <h3>
    Stay in the loop
  </h3>
  <p>
    text text text here
  </p>
  <button class="black">
    Sign Up
  </button>
</div>