---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# page template, extends the base template #}
<style>

img.banner-fill-baseline {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

@media only screen and (max-width: 1300px) and (min-width: 801px) {
    div.top-banner, div.banner-wrapper.split {
        height: 68vh;
    }
    div.top-banner {
        margin-bottom: 30px;
    }
    img.banner-fill-baseline {
        position: absolute;
        object-position: left;
        max-height: 80%;
        bottom: 0;
    }
}
</style>
<div class="top-banner fill-image bg-purple">
  <div class="banner-wrapper split">
    <div class="banner-split-text">
      <p class="subtitle">
        Our Tools
      </p>
      <h1>
        {{ bannerTitle }}
      </h1>
      <h2>
        {{ bannerText }}
      </h2>
      <a href="{{ scheduleLink }}">
        <button class="yellow">
            Sign up
        </button>
      </a>
      <!--<a href="{{ demoLink }}">
        <button class="black">
            Watch the demo
        </button>
        </a>-->
    </div>
    <div style="position: relative;">
      <img src="https://public-unlock.nyc3.digitaloceanspaces.com/home-Image 2.png" class="banner-fill-baseline" alt="two young people facing opposite directions, one using a phone against a purple background and the other using a laptop against a blue background">
    </div>
  </div>
</div>
<div class="content">
  <h3 class="center-title top">
    How it Works
  </h3>
  {% include 'layouts/blocks-icons.njk' %}
  {% include 'layouts/faqs.njk' %}
  <h3 class="center-title">
    Learn more
  </h3>
  <div class="banner-full bg-yellow">
    <h3>
      {{ yellowBannerTitle }}
    </h3>
    <p class="black">
      {{ yellowBannerText }}
    </p>
    <a href="{{ yellowBannerLink }}">
        <button class="black">
        Sign Up
        </button>
    </a>
  </div>
  {% include 'layouts/article-list.njk' %}
  </div>
</div>
</div>
