---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# page template, extends the base template #}

<div class="top-banner bg-purple">
  <div class="banner-wrapper split">
    <div class="banner-split-text">
      <p class="subtitle">
        Our Tools
      </p>
      <h1>
        {{ bannerTitle }}
      </h1>
      <h2 style="max-width: 90%;">
        {{ bannerText }}
      </h2>
      <button class="yellow">
        Schedule now
      </button>
    </div>
    <div style="background-color: #444;">
      image placeholder
    </div>
  </div>
</div>
<div class="content">
  <h3 class="center-title" style="margin-top: -30px;">
    How it Works
  </h3>
  {% include 'layouts/blocks-icons.njk' %}  
  <h3 class="center-title">
    FAQs
  </h3>
  <div style="border: 1px dotted Black; height: 600px;">
    build FAQ collection here
  </div>
  <h3 class="center-title">
    Learn more
  </h3>
  <div class="banner-full bg-orange">
    <h3>
      {{ orangeBannerTitle }}
    </h3>
    <p>
      {{ orangeBannerText }}
    </p>
    <button class="black">
      Sign Up
    </button>
  </div>
  <div style="border: 1px dotted Black; height: 33vh; margin-top: 60px">
    build collection here - articles? w/tags etc.
  </div>
</div>
