---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# page template, extends the base template #}

<div class="top-banner bg-purple">
  <div class="banner-wrapper split">
    <div class="banner-split-text">
      <p class="subtitle">
        Our Tools
      </p>
      <h1>
        {{ bannerTitle }}
      </h1>
      <h2>
        {{ bannerText }}
      </h2>
      <button class="yellow">
        Schedule now
      </button>
      <button class="black">
        Watch the demo
      </button>
    </div>
    <div style="min-height: 200px; padding: 20px; position: relative;">
      <img src="https://public-unlock.nyc3.digitaloceanspaces.com/media/home-Image 2.png" class="baseline-banner">
    </div>
  </div>
</div>
<div class="content">
  <h3 class="center-title top">
    How it Works
  </h3>
  {% include 'layouts/blocks-icons.njk' %}
  {% include 'layouts/faqs.njk' %}
  <h3 class="center-title">
    Learn more
  </h3>
  <div class="banner-full bg-yellow">
    <h3>
      {{ yellowBannerTitle }}
    </h3>
    <p class="black">
      {{ yellowBannerText }}
    </p>
    <button class="black">
      Sign Up
    </button>
  </div>
  <div class="article-collection">
    {%- for article in collections.articles -%}
    <div class="page-content-50-50 article-item">
      <div style="background-color: #555; height: 300px;">
         <img src="{{ article.data.image }}" style="width: 100%;">
      </div>
      <div class="article-summary">
        <div>
            <div class="article-tags">
              <span class="tag">Tag 1</span>
              <span class="tag">Tag 2</span>
              <span class="tag">Tag 3</span>
            </div>
          <h4>
            <a>{{ article.data.title }}</a>
          </h4>
          <p>
            {{ article.data.excerpt }}
          </p>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
  </div>
</div>
</div>
