---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# page template, extends the base template #}

<!-- MAB: include here? or separate page or fold into style.css? -->
<style>
  div.four-infos {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }
  div.infograph-container {
    border: 1px dotted #444;
    text-align: center;
    padding: 10px;
  }
  div.four-infos p {
    font-weight: 500;
    padding-top: 30px;
  }
  div.story {
    margin-top: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 33% auto;
  }

  @media only screen and (max-width: 800px) {
    div.four-infos {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 30px;
    }
    div.infograph-container {
      height: auto;
    }
    div.story {
      grid-template-columns: 1fr;
    }
  }
</style>

<div class="top-banner bg-yellow">
  <div class="banner-wrapper split">
    <div class="banner-split-text">
      <p class="subtitle">
        Our Tools
      </p>
      <h1>
        {{ bannerTitle }}
      </h1>
      <h2>
        {{ bannerText }}
      </h2>
      <button class="black">
        Sign up
      </button>
    </div>
    <div style="min-height: 200px; padding: 20px; position: relative;">
      <img src="https://public-unlock.nyc3.digitaloceanspaces.com/media/home-Image%201.png" class="baseline-banner">
    </div>
  </div>
</div>
<div class="content">
  <p class="black" style="font-size: 1.15em; font-weight: 500; max-width: 70%; text-align: center; margin: auto;">
    Stay one step ahead of landlords with our Rights Recorder app. Record your phone calls, capture evidence of shady behavior, and report brokers and landlords when they violate your rights!
  </p>
  <h3 class="center-title">
    How it Works
  </h3>
  {% include 'layouts/blocks-icons.njk' %}
  <h3 class="center-title">
    Where can you send a report?
  </h3>
  <p class="black" style="font-size: 1.15em; font-weight: 500; max-width: 70%; text-align: center; margin: auto;">
    Unlock NYC partners with organizations around the city so that we can connect you to someone who can help. For instance, you can send your report to:
  </p>
  <div class="four-infos">
    <div class="infograph-container">
      <div class="bg-green" style="width: 100px; height: 100px; border-radius: 50%; margin: auto;"></div>
      <p class="black">
        The NYC Commission on Human Rights for a fair chance at applying for an apartment they were turned away from
      </p>
    </div>
    <div class="infograph-container">
      <div class="bg-green" style="width: 100px; height: 100px; border-radius: 50%; margin: auto;"></div>
      <p class="black">
        The NYC Commission on Human Rights for a fair chance at applying for an apartment they were turned away from
      </p>
    </div>
    <div class="infograph-container">
      <div class="bg-green" style="width: 100px; height: 100px; border-radius: 50%; margin: auto;"></div>
      <p class="black">
        The NYC Commission on Human Rights for a fair chance at applying for an apartment they were turned away from
      </p>
    </div>
    <div class="infograph-container">
      <div class="bg-green" style="width: 100px; height: 100px; border-radius: 50%; margin: auto;"></div>
      <p class="black">
        The NYC Commission on Human Rights for a fair chance at applying for an apartment they were turned away from
      </p>
    </div>
  </div>
  <!-- MAB: make this a partial? story bit -->
  <div class="story">
    <div style="background-color: Black; min-height: 250px;"></div>
    <div style="background-color: #F1F1E3; padding: 10%;">
      <h1 style="font-size: 2rem; margin-bottom: 1rem;">
        [Name]'s Story
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
      </p>
      <button class="black">
        Sign Up
      </button>
    </div>
  </div>
  {% include 'layouts/faqs.njk' %}
  <h3 class="center-title">
    Learn more
  </h3>
  <div class="banner-full bg-yellow">
    <h3>
      {{ yellowBannerTitle }}
    </h3>
    <p class="black">
      {{ yellowBannerText }}
    </p>
    <button class="black">
      Sign Up
    </button>
  </div>
  <div class="article-collection">
    {%- for article in collections.articles -%}
    <div class="page-content-50-50 article-item">
      <div style="background-color: #555; height: 300px;">
         <img src="{{ article.data.image }}" style="width: 100%;">
      </div>
      <div class="article-summary">
        <div>
            <div class="article-tags">
              <span class="tag">Tag 1</span>
              <span class="tag">Tag 2</span>
              <span class="tag">Tag 3</span>
            </div>
          <h4>
            <a>{{ article.data.title }}</a>
          </h4>
          <p>
            {{ article.data.excerpt }}
          </p>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>

