<!DOCTYPE html>
<html lang="en">
  <head>
    {# This is the base template for the site – other templates extend this one #}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Unlock NYC Website 2.0 Draft" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    {% seo "" %}
    <!--scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script async defer src="https://embeds.every.org/0.4/button.js"></script>
    <script
      async
      src="https://unlocknyc-analytics.netlify.app/tracker.js"
      data-ackee-server="https://unlocknyc-analytics.netlify.app"
      data-ackee-domain-id="d2255a40-e04e-4d2d-aa3a-b1b5da9cf52c"
      data-ackee-opts='{ "ignoreLocalhost": true, "detailed": true }'
    ></script>
  </head>
  <body style="background-color: {{ bg }}">
    <main>
      {% include 'layouts/nav.njk' %}

      {# Page or post content will appear here #}
      {{ content | safe }}


      {% include 'layouts/footer.njk' %}

  </main>

  <script>
    /*MAB: MOVE INTO FILE! */
    /* examine resize; vs. window.screen.width etc.*/

    /* DESKTOP, HEADER BEHAVIOR */
    $("nav#main ul#top > li").on("mouseenter", function(){
      if ($(window).width() > 1100) {
        $("ul.submenu").hide();
        $(this).children("ul.submenu").show();
      }
    });
    $("ul.submenu").on("mouseleave", function() {
      if ($(window).width() > 1100) {
        $(this).hide();
      }
    });
    $("nav#main ul#top > li > a.dropdown").each(function() {
      $(this).attr("href", "");
    });
    /* MOBILE MENU BEHAVIOR */
    $("#nav-logo").click(function(e) {
      if ($(window).width() <= 1100) {
          e.preventDefault();
          $("nav ul#top").toggleClass("mobile-open");
          $("nav#main").toggleClass("mobile-open");
      }
    });
    $("nav#main ul#top > li > a.dropdown").click(function(e) {
      if ($(window).width() <= 1100) {
        e.preventDefault();
        $(this).parent("li").children("ul.submenu").toggleClass("mobile-open");
        if ($(this).children("svg").hasClass("plus")) {
          $(this).children("svg").removeClass("plus");
          $(this).children("svg").addClass("minus");
          $(this).children("svg").html('<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" /></svg>');
        }
        else {
          $(this).children("svg").removeClass("minus");
          $(this).children("svg").addClass("plus");
          $(this).children("svg").html('<svg class="plus" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" /></svg>');
        }
      }
    });

    /* CLEAN BUTTON LINKS */
    $("button").parent("a").css("text-decoration", "none");



  </script>

  </body>
</html>
