{% for thing in iconBlocksList %}
<div class="blocks-icons-wrapper">
  <div class="block image">
    {{ thing.image }}
  </div>
  <div class="block">
    <h4>
    {{ thing.title }}
    </h4>
    <p>
      {{ thing.text }}
    </p>
  </div>
</div>
{% endfor %}


