<!--<div class="blocks-wrapper">
  <div class="block">
    {{ blockText1 }}
  </div>
  <div class="block">
    Image placeholder
  </div>
  <div class="block">
    Image placeholder
  </div>
  <div class="block">
    Lorem ipsum - text
  </div>
  <div class="block">
    Lorem ipsum - text
  </div>
  <div class="block">
    Image placeholder
  </div> 
</div>-->

{%- for item in blocks.items %}
<div class="blocks-wrapper">
  <div class="block">
    Text placeholder {{item}}
  </div>
  <div class="block">
    Image placeholder
  </div>
</div>
{% endfor -%}