{% for thing in iconBlocksList %}
<div class="blocks-icons-wrapper">
  <div class="block image">
    {{ thing.image }}
  </div>
  <div class="block">
    <h4>
    {{ thing.title }}
    </h4>
    <p>
      {{ thing.text }}
    </p>
  </div>
</div>
{% endfor %}

<!--<div class="blocks-icons-wrapper">
  <div class="block image">
    {{ blockImage1 }}
  </div>
  <div class="block">
    <h4>
      {{ blockTitle1 }}
    </h4>
    <p>
      {{ blockText1 }}
    </p>
  </div>
  <div class="block image">
    {{ blockImage2 }}
  </div>
  <div class="block">
    <h4>
      {{ blockTitle2 }}
    </h4>
    <p>
      {{ blockText2 }}
    </p>
  </div>
  <div class="block image">
    {{ blockImage3 }}
  </div>
  <div class="block">
    <h4>
      {{ blockTitle3 }}
    </h4>
    <p>
      {{ blockText3 }}
    </p>
  </div>
  <div class="block image">
    {{ blockImage4 }}
  </div>
  <div class="block">
    <h4>
      {{ blockTitle4 }}
    </h4>
    <p>
      {{ blockText4 }}
    </p>
  </div>
</div>-->


