{% for thing in iconBlocksList %}
<div class="blocks-icons-wrapper">
  <div class="block image">
     <img src="{{ thing.image }}" style="object-fit: cover; width: 100%;" alt="{{ thing.alt }}">
  </div>
  <div class="block">
    <h4>
    {{ thing.title }}
    </h4>
    <p>
      {{ thing.content | markdown | safe }}
    </p>
  </div>
</div>
{% endfor %}


