<!--<div class="blocks-wrapper">
  <div class="block">
    {{ blockText1 }}
  </div>
  <div class="block">
    Image placeholder
  </div>
  <div class="block">
    Image placeholder
  </div>
  <div class="block">
    Lorem ipsum - text
  </div>
  <div class="block">
    Lorem ipsum - text
  </div>
  <div class="block">
    Image placeholder
  </div> 
</div>-->

<div class="blocks-wrapper">
  {% for block in blocks.blocks %}
  <div class="block">
    Image placeholder
  </div>
  {% endfor %}
</div>