<!--<div class="blocks-wrapper">
  <div class="block">
    <h4>
      {{ blockTitle1 }}
    </h4>
    <p>
      {{ blockText1 }}
    </p>
    <button class="yellow">
      Learn more
    </button>
  </div>
  <div class="block image">
    {{ blockImage1 }}
  </div>
  <div class="block image">
    {{ blockImage2 }}
  </div>
  <div class="block">
    <h4>
      {{ blockTitle2 }}
    </h4>
    <p>
      {{ blockText2 }}
    </p>
    <button class="yellow">
      Learn more
    </button>
  </div>
  <div class="block">
    <h4>
      {{ blockTitle3 }}
    </h4>
    <p>
      {{ blockText3 }}
    </p>
    <button class="yellow">
      See the map
    </button>
  </div>
  <div class="block image">
    {{ blockImage3 }}
  </div> 
</div>-->
{% for thing in numBlocks %}
<div class="blocks-wrapper">
  <div class="block">
    <h4>
    {{ thing.title}}
    </h4>
    <p>
      {{ thing.text }}
    </p>
  </div>
  <div class="block image">
    {{ thing.image }}
  </div>
</div>
{% endfor %}
