---
layout: layouts/base.njk
templateClass: tmpl-home
---

<!-- MAB include here?! or somewhere else?! -->
<style>

  div#data-grid {
      display: grid;
      grid-template-columns: 33% auto;
      grid-column-gap: 60px;
  }

  div#data-grid-text {
      padding-top: 30px;
  }

  div#data-grid-text h4 {
      font-size: 1.5rem;
      margin-top: 2.5rem;
  }

  div#inner-data-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
  }

  div#map-grid {
      display: grid;
      grid-template-columns: 58% auto;
      grid-column-gap: 0;
      width: 100%;
      margin-top: 20px;
      overflow: hidden;
  }

  div#data-grid div.report-card {
      min-height: 390px;
  }

  div#data-grid div.report-card div.report-summary {
      position: relative;
      height: 100%;
      box-sizing: border-box;
  }

  div#data-grid div.report-card-wrapper:nth-child(odd) div.report-card {
      background-color: var(--yellow);
  }

  div#data-grid div.report-card-wrapper:nth-child(even) div.report-card {
      background-color: var(--green);
  }

  div.banner-full.bg-orange h2 {
      max-width: 60%;
      margin: auto;
      margin-bottom: 30px;
  }

  @media only screen and (max-width: 1150px) {
      div.content {
          padding-top: 0;
      }
      div#data-grid {
          grid-template-columns: 1fr;
      }
      div#data-grid-text {
          padding-top: 0px;
          text-align: center;
          max-width: 90%;
          margin: auto;
          padding-bottom: 20px;
      }
  }

  /*@media only screen and (min-width: 851px) and (max-width: 1200px) {
      div#data-grid {
          grid-template-columns: 25% auto;
          grid-column-gap: 40px;
      }
      div#data-grid div.report-card div.report-summary p {
          font-size: 0.95rem;
          line-height: 1rem !important;
      }
      div#data-grid-text {
          padding-top: 0;
      }
      div#data-grid-text h4 {
          margin-top: 10px;
          line-height: 1.6rem;
      }
      div#data-grid-text p {
          font-size: 0.98rem;
          line-height: 1rem !important;
      }
      }*/

  @media only screen and (max-width: 850px) {
    div.top-banner {
        padding-bottom: 0 !important;
    }
    div#data-grid {
        grid-template-columns: 1fr;
        margin-top: -30px;
    }
    div#data-grid-text {
        text-align: center;
        max-width: 90%;
        margin: auto;
        margin-bottom: 30px;
        padding-top: 0;
    }
    div#map-grid {
        grid-template-columns: 1fr;
    }
    div.banner-full.bg-orange h2 {
        max-width: 80%;
    }
  }

  @media only screen and (max-width: 600px) {
      div#inner-data-grid {
          grid-template-columns: 1fr;
          grid-row-gap: 20px;
      }
      div.banner-full.bg-orange h2 {
          max-width: 100%;
      }
}
</style>
{# page template, extends the base template #}

<div class="top-banner">
  <div class="banner-wrapper">
    <div class="banner-content">
      <h1>
        {{ bannerTitle }}
      </h1>
      <h2>
        {{ bannerText }}
      </h2>
    </div>
  </div>
</div>
<div class="content">
  <div id="data-grid">
    <div id="data-grid-text">
      <h4>
        {{ gridTitle }}
      </h4>
      <p class="black">
        {{ gridText }}
      </p>
    </div>
    <div id="inner-data-grid">
      {%- for report in collections.report -%}
      {% if report.data.featured %}
      <div class="report-card-wrapper">
        <div class="report-card">
          <div>
            <span class="tag">{{ report.data.keywords }}</span>
            <span class="tag">{{ report.data.year }}</span>
          </div>
          <div class="report-summary">
            <p class="black" style="text-decoration: underline;">
              <strong>Featured Report</strong>
            </p>
            <h4 style="font-size: 1.5rem;">
              {{ report.data.reportTitle }}
            </h4>
            <p class="summary-text black">
              {{ report.data.reportSummaryTop }}
            </p>
            <a href="{{ report.url }}" style="position: absolute; bottom: 20px;">
                <button class="black">
                    Read report
                </button>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {%- endfor -%}
    </div>
  </div>
  <div id="map-grid" class="bg-purple">
    <div style="background: url('https://public-unlock.nyc3.digitaloceanspaces.com/Community-Map_Purple.png'); background-size: cover; background-position: center center; min-height: 300px;"></div>
    <div class="report-card-wrapper">
        <div class="bg-purple report-card">
            <div>
                <span class="tag">Interactive Map</span>
                <span class="tag">2022</span>
            </div>
            <div>
                <p class="black" style="text-decoration: underline;">
                    <strong>Featured</strong>
                </p>
                <h4 style="font-size: 1.5rem;">
                  Community-powered Discrimination Map
                </h4>
                <p class="black" style="margin-top: 25px; font-size: 14px;">
                    See where our users have reported unfair treatment by landlords and brokers and send an email to your council member about why you care about this issue.
                </p>
                <a href="/data/soi-map">
                    <button class="black">
                        Explore the map
                    </button>
                </a>
            </div>
        </div>
    </div>
  </div>
  <h3 class="center-title">
    Our Data in Action
  </h3>
  {% include 'layouts/blocks50.njk' %}
</div>
<div class="content" style="padding-top: 3%; background-color: White;">
  {% include 'layouts/faqs.njk' %}
</div>
<div class="banner-full bg-orange">
  <h3>
    {{ orangeBannerTitle }}
  </h3>
  <h2>
    {{ orangeBannerText }}
  </h2>
  <a href="{{ orangeBannerLink }}" target="_blank">
    <button class="black">
        {{ orangeBannerButton }}
    </button>
  </a>
</div>