<!-- MAB: this will eventually be a collection, with filters -->
<!-- maybe do with for loop on each page? or, pass filter into here-->

<h3 class="center-title">
    FAQs
  </h3>
  <div class="faq-container">
    <div class="question"> 
      <img class="faq-plus" src="https://cdn.glitch.global/53a51cf9-3776-4b8a-a2d4-b91bd1be3da1/plus.svg?v=1691098955964">
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod?
      </h4>
    </div>
    <div class="question"> 
      <img class="faq-plus" src="https://cdn.glitch.global/53a51cf9-3776-4b8a-a2d4-b91bd1be3da1/plus.svg?v=1691098955964">
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing?
      </h4>
    </div>
    <div class="question"> 
      <img class="faq-plus" src="https://cdn.glitch.global/53a51cf9-3776-4b8a-a2d4-b91bd1be3da1/plus.svg?v=1691098955964">
      <h4>
        Sed ut perspiciatis unde omnis iste natus error sit?
      </h4>
    </div>
    <div class="question"> 
      <img class="faq-plus" src="https://cdn.glitch.global/53a51cf9-3776-4b8a-a2d4-b91bd1be3da1/plus.svg?v=1691098955964">
      <h4>
        Voluptatem accusantium doloremque laudantium, totam rem aperiam?
      </h4>
    </div>
  </div>