<div id="footer">
  <div id="footer-wrapper">
    <div id="footer-columns">
      <div>
        Need Help?
      </div>
      <div>
        Press
      </div>
      <div>
        Social
      </div>
      <div>
        [Title Here]
      </div>
    </div> <!-- end footer columns-->
    <div id="footer-right">
      <p>
        Unlock NYC is a Partner Project of the Fund For the City of New York, a registered 501(c)(3) nonprofit organization.
      </p>
      <p>
        Disclaimer
      </p>
    </div>
  </div>
</div>