<div id="footer">
  <div id="footer-wrapper">
    <div id="footer-columns">
      <div>
        <h4>
          Need Help?
        </h4>
        <p>
          Contact Us
        </p>
        <p>
          Report a Tech Issue
        </p>
        <p>
          Find a Lawyer
        </p>
      </div>
      <div>
        <h4>
          Press  
        </h4>
        <p>
          Latest News
        </p>
        <p>
          Press Releases
        </p>
        <p>
          Press Kit
        </p>
        <p>
          FAQs
        </p>
        <p>
          Request Form
        </p>
      </div>
      <div>
        <h4>
          Social
        </h4>
        <p>
          Facebook
        </p>
        <p>
          Twitter
        </p>
        <p>
          Tik Tok
        </p>
      </div>
      <div>
        <h4>
          [Title Here]
        </h4>
        <p>
          Privacy Policy
        </p>
        <p>
          User Agreement
        </p>
      </div>
    </div> <!-- end footer columns-->
    <div id="footer-right">
      <p>
        Unlock NYC is a Partner Project of the Fund For the City of New York, a registered 501(c)(3) nonprofit organization.
      </p>
      <p class="small">
        Disclaimer: The information and services provided by Unlock NYC do not constitute legal advice and must not be used as a substitute for the advice of a lawyer qualified to give advice on legal issues pertaining to housing.
      </p>
    </div>
  </div>
</div>