<div id="footer">
  <div id="footer-wrapper">
    <div id="footer-columns">
      <div>
        <h5>
          Need Help?
        </h5>
        <p>
            <a href="https://airtable.com/appfOQvWUNipVmUdR/shrUjHME2Vw4JBLHV" target="_blannk">Contact Us</a>
        </p>
        <p>
            <a href=" https://airtable.com/app3af9N639eF78QW/shrEpGrCQK9kK4lHN" target="_blank">Report a Tech Issue</a>
        </p>
        <!--<p>
          Find a Lawyer
        </p>-->
      </div>
      <div>
        <h5>
          <a href="/press">Press</a>
        </h5>
        <p>
          Latest News
        </p>
        <p>
          Press Releases
        </p>
        <p>
          Press Kit
        </p>
        <p>
          FAQs
        </p>
        <p>
          Request Form
        </p>
      </div>
      <div>
        <h5>
          Social
        </h5>
        <p>
            <a href="https://www.facebook.com/WeUnlockNYC/" target="_blank">Facebook</a>
        </p>
        <p>
            <a href="https://instagram.com/weunlocknyc" target="_blank">Instagram</a>
        </p>
        <p>
            <a href="https://www.tiktok.com/@weunlocknyc" target="_blank">TikTok</a>
        </p>
        <p>
            <a href="https://twitter.com/weunlocknyc" target="_blank">Twitter</a>
        </p>
      </div>
      <div>
        <h5>
          Policies
        </h5>
        <p>
            <a href="/privacy">Privacy Policy</a>
        </p>
        <p>
            <a href="/useragreement">User Agreement</a>
        </p>
        <p>
            <a href="/legal-disclaimers">Legal Disclaimers</a>
        </p>
      </div>
    </div> <!-- end footer columns-->
    <div id="footer-right">
      <p>
        Unlock NYC is a Partner Project of the <a href="https://www.fcny.org/" target="_blank">Fund For the City of New York</a>, a registered 501(c)(3) nonprofit organization.
      </p>
      <p class="small">
        The information and services provided by Unlock NYC do not constitute legal advice and must not be used as a substitute for the advice of a lawyer qualified to give advice on legal issues pertaining to housing.
      </p>
    </div>
  </div>
</div>