---
layout: layouts/base.njk
templateClass: tmpl-home
---

<!-- MAB include here?! or somewhere else?! -->
<style>
  div.reports-collection {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  @media only screen and (max-width: 800px) {
    div.reports-collection {
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;
    }
  }
</style>
{# page template, extends the base template #}

<div class="top-banner">
  <div class="banner-wrapper">
    <div class="banner-content">
      <p class="subtitle">
        For Partners
      </p>
      <h1>
        {{ bannerTitle }}
      </h1>
      <h2>
        {{ bannerText }}
      </h2>
    </div>
  </div>
</div>
<div class="content">
  {% include 'layouts/blocks50.njk' %}
  <h3 class="center-title">
    "We're a good investment"
  </h3>
  <div class="three-stats bg-yellow" style="margin-top: 0; margin-bottom: 0;">
    <div class="stat">
      <h1>
        50+
      </h1>
      <p class="black">
        Years navigating the housing voucher system
      </p>
    </div>
    <div class="stat">
      <h1>
        70%
      </h1>
      <p class="black">
        of our team identify as women of color
      </p>
    </div>
    <div class="stat">
      <h1>
        5
      </h1>
      <p class="black">
        NYC boroughs represented
      </p>
    </div>
  </div>
  <div class="half-wide" style="margin-top: 80px;">
    <h4>
      “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.”
    </h4>
    <h3 class="center-title" style="margin-bottom: 1rem;">
      Annual Reports
    </h3>
    <button>
      View All
    </button>
  </div>
  <div class="reports-collection">
    <div class="bg-cream" style="height: 200px;">
      collection
    </div>
    <div class="bg-cream" style="height: 200px;">
      collection
    </div>
  </div>
  <h3 class="center-title">
      Current Funders
  </h3>
  <div class="funder-grid">
    {% for funder in fundersList %}
    <a href="{{ funder.link }}" target="_blank">
        <div class="bg-cream">
            <img src="{{ funder.logo }}">
        </div>
    </a>
    {% endfor %}
  </div>
</div>
<div class="banner-full bg-orange last-banner">
    <h3>
      {{ orangeBannerTitle }}
    </h3>
    <h2>
      {{ orangeBannerText }}
    </h2>
    <button class="black">
      Email Us
    </button>
  </div>