---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}
<div class="top-banner">
  <div class="banner-wrapper">
    <div class="banner-content">
      <h1>
        Unlock your city.
      </h1>
      <h2>
        The tools you need to stand up for yourself on your housing search. Created with and led by tenants who've been there.
      </h2>
      <button class="yellow">
        Get started
      </button>
    </div>
  </div>
</div>
<div class="content">
  <div style="background-color: #727272; height: 100vh;">
    {{ content | safe }}  
  </div>
</div>
<div class="content" style="background-color: #222; height: 50vh">
  <h1 style="font-family: 'Intro Rust', sans-serif; text-align: center; color: White;">
    WHAT PEOPLE ARE SAYING
  </h1>"
</div>
<div class="content">
  <div style="text-align: center; max-width: 45%; margin: auto;">
    <h3>
      Latest Action Lorem Ipsum
    </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
    </p>
    <div style="width: 100%; height: 600px; background-color: #727272;">
      
    </div>
  </div>
</div>



