---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}
<div class="top-banner">
  <div class="banner-wrapper">
    <div class="banner-content">
      <h1>
        Unlock your city.
      </h1>
      <h2>
        The tools you need to stand up for yourself on your housing search. Created with and led by tenants who've been there.
      </h2>
      <button class="yellow">
        Get started
      </button>
    </div>
  </div>
</div>
<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
    
    {# After the the content defined in index.md, list the blog posts in the collection #}
    <ul>
      {%- for post in collections.posts -%}
        <li{% if page.url == post.url %} aria-current="page"{% endif %}>{{ post.data.page.date | htmlDateString }} — <a href='{{ post.url }}'>{{ post.data.title }}</a></li>
      {%- endfor -%}
      <li><a href="/posts">View all posts</a></li>
    </ul>
  </div>
</div>


