---
layout: layouts/base.njk
templateClass: tmpl-home
---
<style>
{% include "styles/home.css" %}
</style>
{# The Home page uses this template–it extends the base template #}
<div class="top-banner">
  <video class="video-banner" autoplay loop poster="https://public-unlock.nyc3.digitaloceanspaces.com/media/unlock-homevid-poster.png">
    <source src="https://public-unlock.nyc3.cdn.digitaloceanspaces.com/media/hero.webm" type="video/webm">
    <source src="https://public-unlock.nyc3.cdn.digitaloceanspaces.com/media/hero.mp4" type="video/mp4">
  </video>
  <div class="banner-wrapper" style="position: relative; z-index: 2;">
    <div class="banner-content">
      <h1>
        {{ bannerTitle }}
      </h1>
      <h2>
        {{ bannerText }}
      </h2>
      <button class="yellow" onclick=window.location.href='/start'>
        Get started
      </button>
    </div>
  </div>
</div>
<div class="content">
  {% include 'layouts/blocks50.njk' %}
</div>
<div class="content" style="background-color: #222; height: 50vh">
  <h1 style="font-family: 'Intro Rust', sans-serif; text-align: center; color: White;">
    WHAT PEOPLE ARE SAYING
  </h1>"
</div>
<div class="content latest-action">
  <div class="half-wide">
    <h3 style="margin-top: 0;">
      Latest Action Lorem Ipsum
    </h3>
    <p>
      {{ latestActionText }}
    </p>
  </div>
  <div class="center-stage">
    <img src="https://public-unlock.nyc3.digitaloceanspaces.com/media/Video-Still.png" style="width: 100%;">
  </div>
</div>
<div class="banner-full bg-cream">
  <div class="page-content-50-50">
    <div style="width: 100%; height: 350px; background-color: #727272; background: url('https://cdn.glitch.global/53a51cf9-3776-4b8a-a2d4-b91bd1be3da1/Team.png?v=1693938284511'); background-size: cover; background-position: center center;">
      <!--img placeholder-->
    </div>
    <div style="padding: 5%; text-align: left;">
      <h4>
        Unlock NYC is a women-led tech nonprofit created with and by tenants who’ve been in your shoes.
      </h4>
      <p>
        A majority of our team has had on-the-ground experience using vouchers to find a home for our families. We’re different because we know firsthand what you’re going through – that’s what inspired us to speak up in the first place.
      </p>
      <a href="/about">
        <button>
            Learn more
        </button></a>
      <a href="/get-involved"><button style="margin-left: 15px;">
        Get involved
      </button></a>
    </div>
  </div>
</div>
<div class="banner-full bg-orange last-banner">
  <h3>
    Sign up for Newsletter Updates
  </h3>
  <button class="black">
    Sign Up
  </button>
</div>
