---
layout: layouts/base.njk
templateClass: tmpl-home
---

<!-- MAB include here?! or somewhere else?! -->
<style>
  div.content {
    padding-top: 0;
    margin-top: -10vh;
  }
  div.blocks-25-75 {
    padding: 5% 8%;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  div.blocks-25-75 div:nth-child(1) {
    padding: 3%;
  }
  div.blocks-25-75 div:nth-child(2) {
    border-left: 1px solid Black;
    padding: 0 0 0 8%;
  }
</style>
{# page template, extends the base template #}

<div class="top-banner">
  <div class="banner-wrapper">
    <div class="banner-content">
      <p class="subtitle">
        For Partners
      </p>
      <h1>
        {{ bannerTitle }}
      </h1>
    </div>
  </div>
</div>
<div class="content">
  <div class="banner-wrapper split" style="height: auto;">
    <div class="bg-purple" style="border: 1px dotted gray; min-height: 200px; padding: 20px;">
      image placeholder
    </div>
    <div class="banner-split-text">
      <h4>
        {{ bannerSubtitle }}
      </h4>
      <p>
        {{ bannerText}}
      </p>
      <button class="black">
        Request a demo
      </button>
      <button class="black">
        Sign up
      </button>
    </div>
  </div>
  <!-- MAB do I need to move this to larger CSS, and make a component? -->
  <div class="blocks-25-75">
    <div style="border: 1px dotted gray">
      image placeholder, logo
    </div>
    <div>
      <h4 style="margin-bottom: 2rem">
        {{ quote }}
      </h4>
      <p style="margin-bottom: 0;">
        <strong>{{ quoteAuthor }},</strong>
      </p>
      <p>
        {{ quoteTitle }}
      </p>
    </div>
  </div>
</div>
<div class="content bg-cream">
  <h3 class="center-title">
    Reporting gets you results
  </h3>
  
</div>