---
layout: layouts/base.njk
templateClass: tmpl-home
---

<!-- MAB include here?! or somewhere else?! -->
<style>

  div.blocks-icons-wrapper .block.image img {
        max-width: 95%;
  }
  div.content.first {
    padding-top: 0;
    margin-top: -10vh;
  }
  div.org-quote{
    padding: 5% 8%;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  div.org-quote div:nth-child(1) {
    padding: 3%;
  }
  div.org-quote div:nth-child(2) {
    border-left: 1px solid Black;
    padding: 0 0 0 8%;
  }
  @media only screen and (max-width: 800px) {
    div.content.first {
      margin-top: 0;
    }
    div.banner-split-text {
      text-align: left;
      padding-left: 0;
    }
    div.org-quote {
      grid-template-columns: 1fr;
    }
    div.org-quote div:nth-child(1) {
      height: 150px;
    }
    div.org-quote div:nth-child(2) {
      border-left: 0;
      padding: 0;
      text-align: center;
    }
  }
</style>
{# page template, extends the base template #}

<div class="top-banner">
  <div class="banner-wrapper">
    <div class="banner-content">
      <p class="subtitle">
        For Partners
      </p>
      <h1>
        {{ bannerTitle }}
      </h1>
    </div>
  </div>
</div>
<div class="content first">
  <div class="banner-wrapper split" style="height: auto;">
    <div class="bg-purple">  <!--style="border: 1px dotted gray; min-height: 200px; padding: 20px;">-->
        <img src="{{ topImage }}" style="width: 100%;">
    </div>
    <div class="banner-split-text">
      <h4>
        {{ bannerSubtitle }}
      </h4>
      <p>
        {{ bannerText}}
      </p>
      <a href="{{ demoLink }}">
        <button class="black">
            Request a demo
        </button>
      </a>
      <a href="{{ signUpLink }}">
        <button class="black">
            Sign up
        </button>
      </a>
    </div>
  </div>
  <!-- MAB do I need to move this to larger CSS, and make a component? -->
  <div class="org-quote">
    <div>
      <img src="{{ quoteLogo }}">
    </div>
    <div>
      <h4 style="margin-bottom: 2rem">
        {{ quote }}
      </h4>
      <p class="black" style="margin-bottom: 0;">
        <strong>{{ quoteAuthor }},</strong>
      </p>
      <p>
        {{ quoteTitle }}
      </p>
    </div>
  </div>
</div>
<div class="content bg-cream" style="padding-left: 20%; padding-right: 20%;">
  <h3 style="text-align: center; margin-top: 0;">
    Reporting gets you results
  </h3>
  <p class="black" style="text-align: center;">
    KEY IMPACT METRICS and WHY YOU SHOULD LISTEN TO US Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
  </p>
  <div class="three-stats" style="margin-top: 0; margin-bottom: 0;">
    <div class="stat">
      <h1>
        50+
      </h1>
      <p class="black">
        Years navigating the housing voucher system
      </p>
    </div>
    <div class="stat">
      <h1>
        70%
      </h1>
      <p class="black">
        of our team identify as women of color
      </p>
    </div>
    <div class="stat">
      <h1>
        5
      </h1>
      <p class="black">
        NYC boroughs represented
      </p>
    </div>
  </div>
</div>
<div class="content">
  <h3 class="center-title" style="margin-top: 0;">
    More ways we support
  </h3>
  {% for thing in linksList %}
  <div class="blocks-icons-wrapper links">
    <div class="block image">
      <img src="{{ thing.image }}">
    </div>
    <div class="block">
      <h4>
      {{ thing.title }}
      </h4>
      <p>
        {{ thing.content | markdown | safe }}
      </p>
      {% if thing.button == 'yes' %}
        {% for button in thing.buttonList %}
        <a href="{{ button.buttonLink }}">
          <button class="white">
            {{ button.buttonText }}
          </button>
        </a>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
  <!-- MAB, make slideshow!!-->
  <div class="half-wide" style="margin-top: 80px; margin-bottom: 80px;">
    <h3>
      Featured Partners
    </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
    </p>
  </div>
  <div class="funder-grid">
    {% for partner in partnersList %}
    <a href="{{ partner.link }}" target="_blank">
        <div class="bg-cream">
            <img src="{{ partner.logo }}">
        </div>
    </a>
    {% endfor %}
  </div>
</div>