---
layout: layouts/base.njk
templateClass: tmpl-home
---

<!-- MAB include here?! or somewhere else?! -->
<style>

</style>
{# page template, extends the base template #}
<!-- MAB: this could be the duplicatable format of a basic page, for the CMS -->
<!-- some blocks, a banner, CTA, etc... -->
<div class="top-banner" style="height: auto;">
  <div class="banner-wrapper">
    <div class="banner-content">
      <h1>
        {{ bannerTitle }}
      </h1>
      <h2>
        {{ bannerText }}
      </h2>
    </div>
  </div>
</div>
<div class="content">
{% include 'layouts/blocks50.njk' %}
</div>
<div class="banner-full bg-orange last-banner">
  <h3>
    {{ orangeBannerTitle }}
  </h3>
  <h2>
    {{ orangeBannerText }}
  </h2>
  <a href="{{ orangeBannerLink }}">
    <button class="black">
        Share Feedback
    </button>
  </a>
</div>

<!-- TEMP RE-DIRECT, page not complete -->
<script>
window.location.href="/404.html";
</script>
