<nav id="main">
  <div id="nav-wrapper">
    <div id="nav-logo">
      <a href="/">Unlock NYC</a>
      <svg id="hamburger" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </div>
    {% set navPages = collections.all | eleventyNavigation %}
    {% macro renderNavListItem(entry) -%}
    <li {% if entry.url == page.url %} class="active-header"{% endif %}>
      <a {% if entry.url == 'blank' %} class="dropdown" {% endif %} href="{{ entry.url }}">{{ entry.title }}
        {% if entry.url == 'blank' %}
        <svg class="plus" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" /></svg>
       {% endif %}
      </a>
    {%- if entry.children.length -%}
      <ul class="submenu">
        {%- for child in entry.children %}
        {{ renderNavListItem(child) }}
        {% if child.title == "Advocate Community" %}
        <li>
            <a href="/data/soi-map">SOI Mapping Tool</a>
        </li>
        {% endif %}
        {% endfor -%}
      </ul>
    {%- endif -%}
    </li>
    {%- endmacro %}

    <ul id="top">
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
    <li><a href="https://www.every.org/unlock-nyc?viewport=desktop#/donate/card" target="_blank">Donate</a></li>
    <li class="report-button"><a href="/start" target="_blank" style="color: White;">Report</a></li>
    <!--<li class="login-button"><a href="/start/secure/advocate">Sign In</a></li>-->
    </ul>
  </div> <!-- end of nav wrapper-->

</nav>