---
layout: layouts/base.njk
templateClass: tmpl-home
---

<style>
  div.content.first {
    padding-top: 0;
    margin-top: -10vh;
  }
  @media only screen and (max-width: 800px) {
    div.content.first {
      margin-top: 0;
    }
    div.banner-split-text {
      text-align: left;
      padding-left: 0;
    }
  }
</style>
{# page template, extends the base template #}

<div class="top-banner">
  <div class="banner-wrapper">
    <div class="banner-content">
      <p class="subtitle">
        For Partners
      </p>
      <h1>
        {{ bannerTitle }}
      </h1>
    </div>
  </div>
</div>
<div class="content first">
  <div class="banner-wrapper split" style="height: auto;">
      <div class="bg-green"> <!--style="border: 1px dotted gray; min-height: 200px; padding: 20px;"-->
          <img src="{{ topImage }}" style="width: 100%;">
      </div>
    <div class="banner-split-text">
      <h4>
        {{ bannerSubtitle }}
      </h4>
      <p>
        {{ bannerText}}
      </p>
      <a href="{{ bannerLink }}">
        <button class="black">
            Read more
        </button>
      </a>
    </div>
  </div>
  <div class="half-wide" style="padding-top: 50px; padding-bottom: 80px;">
    <h3>
      Something here
    </h3>
    <p>
      WHY YOU SHOULD LISTEN TO US Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </p>
  </div>
  {% include 'layouts/blocks50.njk' %}
</div>
<div class="banner-full bg-orange last-banner">
  <h3>
    {{ orangeBannerTitle }}
  </h3>
  <h2>
    {{ orangeBannerText }}
  </h2>
  <a href="{{ orangeBannerLink }}">
    <button class="black">
        {{ orangeBannerButton }}
    </button>
  </a>
</div>

<!-- TEMP RE-DIRECT, page not complete -->
<script>
window.location.href="/404.html";
</script>