---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# page template, extends the base template #}

<div class="top-banner">
</div>
<div class="wrapper">
  <div class="content">
    {{ content | safe }}
  </div>
</div>
