---
layout: layouts/base.njk
templateClass: tmpl-home
bg: ""
---

{# page template, extends the base template #}

<div class="top-banner">
  <div class="content" style="padding-bottom: 0; padding-top: 0;">
  <div class="banner-wrapper split">
    <div class="banner-split-text">
      <p class="subtitle">
        Data & Research
      </p>
      <h1>
        {{ reportTitle }}
      </h1>
      <h2 style="max-width: 90%;">
        {{ reportSummary }}
      </h2>
      <button class="black">
        Download Report
      </button>
    </div>
    <div style="display:grid; grid-template-rows: 100px auto; width: 60%; margin-left: 20%;">
      <div></div>
      <div class="bg-yellow">
      </div>
    </div>
  </div>
</div>
</div>
<div class="content" style="background-color: White;">
  <div class="padding: 50px;">
    <h3>
      Summary
    </h3>
    <p>
      {{ reportSummary }}
    </p>
  </div>
</div>