---
layout: layouts/base.njk
templateClass: tmpl-home
bg: ""
---

{# page template, extends the base template #}

<div class="top-banner">
  <div class="content" style="padding-bottom: 0; padding-top: 0;">
  <div class="banner-wrapper split">
    <div class="banner-split-text">
      <p class="subtitle">
        Data & Research
      </p>
      <h1>
        {{ reportTitle }}
      </h1>
      <h2 style="max-width: 90%;">
        {{ reportSummaryTop }}
      </h2>
      <button class="black">
        Download Report
      </button>
    </div>
    <div style="display:grid; grid-template-rows: 100px auto; width: 60%; margin-left: 20%;">
      <div></div>
      <div class="bg-yellow">
      </div>
    </div>
  </div>
</div>
</div>
<div class="content" style="background-color: White; padding-top: 30px;">
  <div style="padding: 0 5%;">
    <h4>
      Summary
    </h4>
    <p>
      {{ reportSummary }}
    </p>
    <p style="font-weight: 500;">
      Press Features
    </p>
    <div style="border: 1px dotted Gray; height: 500px; width: 100%;">
      build press collection here
    </div>
  </div>
</div>