---
layout: layouts/base.njk
templateClass: tmpl-home
---

<style>

div.top-banner {
    height: auto;
    min-height: unset;
    padding-top: 15vh;
}

img {
    max-width: 100%;
}

div.banner-content ul li {
    text-align: initial;
}

div.banner-content p {
    color: var(--dark-grey-text);
}

</style>
{# page template, extends the base template #}

<div class="top-banner">
  <div class="banner-wrapper">
    <div class="banner-content">
      <h1>
        {{ title }}
      </h1>
      <div class="content">
          {{ content | safe }}

          <p>
            {% if button == 'yes' %}
            {% for button in buttonList %}
            <a href = "{{ button.buttonLink }}">
                <button class="black" target="_blank">
                    {{ button.buttonText }}
                </button>
            </a>
            {% endfor %}
            {% endif %}
          </p>
      </div>

    </div>
  </div>
</div>
