---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# page template, extends the base template #}

<div class="top-banner">
  <div class="banner-wrapper">
    <div class="banner-content">
      <h1>
        {{ bannerTitle }}
      </h1>
      <h2>
        {{ bannerText }}
      </h2>
    </div>
  </div>
</div>
<div class="content">
  {% include 'layouts/blocks50.njk' %}  
</div>
<div class="banner-full cream">
  <div class="half-wide">
    <h4>
      How We Design
    </h4>
    <p>
      {{ howDesignText }}
    </p>
    <div style="height: 30vh; background-color: #444; width: 100%;">
      image placeholder
    </div>
  </div>
</div>